.personalDataSmall {
	width: 200px;
	background-color: #696969;
	text-align: center;
	color: white;
}
.personalDataBig {
	width: 400px;
	color: blue;
	margin-left: 10px;
}
#parent {
	width: 595px;
	display: flex;
	border-style: groove;
}
#title {
	width: 600px;
	background-color: #6495ED;
	text-align: center;
	line-height: 50px;
	height: 50px;
	color: white;
}
img {
	width: 100px;
	height: 100px;
	border-radius: 25px;
    border: 3px solid;
}
#image {
	margin: 15px auto 25px;
}
span {
	text-decoration: underline;
}
.interests {
	border-radius: 15px;
	margin-left: 5px;
}
#interestGame {
	background-color: red;
	width: 150px;
}
#interestMusic {
	background-color: green;
	width: 80px;
}
#interestStreams {
	background-color: purple;
	width: 110px;
}
ul {
	text-align: left;
}
.lineSmall {
	border: block;
	width: 170px;
	height: 3px;
	margin-left: 13px;
	background-color: orange;
}
.lineBig {
	border: block;
	width: 380px;
	height: 3px;
	background-color: blue;
}
